// Place all the styles related to the Gymnasia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// id scheme #2M61QUbhFz4nd

@import "palette";


.gymnasia, .affiliates{
	
	h1{
		color: #00372d;
	}

	table {
		border-collapse: collapse;
	}

	thead{
		color: white;
		th{
			padding: 5px;
			background: $dark-green;
		}
		
		
	}

	table tr td {
		padding: 5px;
		border-bottom: 1px solid lighten(black, 85%);
	}

	table tr th, table tr td {
		vertical-align: top;
	}




	.list_image{
		width: 60px;
		height: 70px;
	}

	.list_description{
		width: 60%;

		dl{
			margin: 0;
		}

		dt{
			color: #244;
			font-weight: bold;
			font-size: larger;
		}

		dd{
			margin: 0;
		}
	}

	.list_line_even{
		//background: #cadae4;
	}

	.list_line_odd{
		//background: #d1dde4;
	}
}